# Python Bytecode and Caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.env/
env/
venv.bak/

# Package Metadata
*.egg-info/

# Build and Distribution
build/
dist/
wheels/
*.tar.gz
*.whl

# OS and Editor specific
.DS_Store
Thumbs.db
.vscode/
.idea/

# Sensitive Information - DO NOT COMMIT THESE
.env
secrets.*
config.ini
*.pem
*.key

# Logs and Temporary Files
*.log
*.tmp
*.swp

# unused for reproduce
prompt.txt
prompt_human.txt
prompt_experiment.txt
prompt_more.txt
evaluate.py
outputs/*
audio_dataset/*
benchmark/*
human/*
human_more/*
summary_results_top50.json